/* Universal Selector */
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 100%;
    font-family: 'Lato', sans-serif;
}

body {
    background-color: #1B1B1B;
}

a {
    color: black;
    text-decoration: none;
}

/* Header */
/* Mobile */
header {
    background-color: whitesmoke;
    border-bottom: 1px solid black;
}

#logo {
    display: none;
}


ul li:last-child {
    border-bottom: 1px solid black;
}

.nav-item {
    list-style-type: none;
    padding: 0.625rem;
    border-top: 1px solid black;
    text-align: center;
}

.nav-item a {
    font-size: 1.2rem;
    display: block;
 }

/* Tablet & Desktop */
@media only screen and (min-width: 1024px) {
    header {
        width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        padding: 1rem 1.875rem;
        align-items: center;
    }
    
    #logo {
        display: inline-block;
        max-width: 7%;
        max-height: auto;
    }

    nav {
        width: 40%;
    }

    header ul {
        display: flex;
        justify-content: space-between;
    }

    .nav-item {
        border: none;
    }

    ul li:last-child {
        border: none;
    }

}

/* Main */
/* Introduction */
/* Mobile */
#introduction {
    height: 100vh;
    background-image: url("../images/introduction-background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

#introduction article {
    margin: 0 auto;
    text-align: center;
    padding: 1.875rem;
    background-color: whitesmoke;
}

#introduction h1 {
    margin-bottom: 1.875rem;
    font-size: 1.6rem;
}

#introduction p {
    font-size: 1.2rem;
    line-height: 1.6;
}

/* Tablet & Desktop */
@media only screen and (min-width: 1024px) {
    main {
        width: 90%;
        margin: 0 auto;
    }

    #introduction article {
        width: 90%;
        margin: 0 auto;
        border-radius: 20px;
    }

    #introduction h1 {
        font-size: 2.5rem;
    }

    #introduction p {
        font-size: 1.4rem;
    }
        
}

/* Animes & Super Heros */
#animes, #super-heros {
    background-color: #F1F1F1;
    padding: 10px 0;
}

.titles {
    padding: 1.25rem;
    text-align: center;
    background-color: #00665D;
}

.titles h2 {
    color: white;
}

.titles span {
    margin: 0 1.25rem;
}

.titles .fa-star {
    display: none;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 10px;
    justify-content: center;
    gap: 20px 10px;
}

.grid-container a:hover {
    background-image: url(../images/overlay_rich.png);
    background-repeat: no-repeat;
    background-position: center;
    z-index: 10;
}

.grid-container img {
    width: 100%;
    height: 350px;
}

.grid-container figure {
    background-color: white;
    padding: 5px;
}

.grid-container figcaption {
    padding: 10px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-top: 1px solid black;
}

.see-more {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #385886;
    color: white;
    text-align: center;
}

.see-more:hover {
    background-color: red;
}

/* Tablet & Desktop  */
@media only screen and (min-width: 769px) {
    .titles .fa-star {
        display: inline;
    }

    .grid-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (min-width: 1024px) {
    .grid-container {
        grid-template-columns: repeat(5, 1fr);
    }
}

/* Footer */
footer {
    font-size: 1.2rem;
    background-color: whitesmoke;
    border-top: 1px solid black;
    padding: 20px;
    text-align: center;
}

footer a {
    color: blue;
    text-decoration: underline;
}


#author {
    margin-top: 10px;
    font-style: italic;
}

#author span {
    font-weight: bold;
}

/* Tablet & Desktop */
@media only screen and (min-width: 769px) {
    footer {

        width: 90%;
        margin: 0 auto;
    }

}